// 用于覆盖ant-design-vue默认样式
@import "./var.scss";
.ant-table{
  border: 1px $color-gray solid;
  border-radius: 4px;
  overflow: hidden;
  thead{
    tr{
      th{
        background-color: #FAFAFA;
        color: #000;
      }
    }
  }
  tbody{
    tr{
      border: none;
      td{
        border: none;
      }
      &:nth-child(even){
        background-color: #fafafa;
      }
      &:nth-child(odd){
        background-color: #fff;
      }
      td{
        border-color: $color-gray;
      }
    }
  }
}

.ant-btn{
  &.round-rect{
  // 圆角矩形按钮
    border-radius: 32px;
  }
}

// 分页器居右
.ant-pagination{
  text-align: right;
}

.page-item {
  display: block;
  border: 1px solid #ededed;
  padding: 0 6px;
  height: 32px;
}
.ant-pagination .ant-pagination-item {
  border-radius: 0;
}
.ant-pagination .ant-pagination-item-active {
  background-color: $color-btn-primary;
  border-color: $color-btn-primary;
  a {
    color: #fff !important;
  }
}
