$padding-main: 15px;
$padding-inside: 20px;

/* color */
$color-main: #007cfb;
$color-table-hover: #e6f7ff;
$color-gray: #eee;
$color-btn-primary: #4d92f2;
$color-list-primary: #fffbf7;
$color-list-theme: #FF8712;